.newsletter{
    display: flex;
    flex-direction: column;
    padding: 8rem 1rem;
    padding-bottom: 4rem;
    h2{
        font-size: 1.5rem;
        font-weight: 800;
    }
    .newsletter__container{
        display: flex;
        flex-direction: column;
    }
    .newsletter__container__form {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        form{
            width: 100%;
        }
        input{
            width: 60%;
            padding: 1rem;
            border: 1px solid #000;
            font-size: 1rem;
            background-color: transparent;
            margin-right: .5em;
            &:focus{
                outline: none;
            }
        }
        button{
            width: 30%;
            padding: 1rem;
            border: none;
            background: #000;
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            &:focus{
                outline: none;
            }
        }
    }
}

@include bp("small"){
    .newsletter{
        padding: 8rem 2rem;
        .newsletter__container {
            display: flex;
            flex-direction: row;
            .newsletter__container__title{
                width: 50%;
                display: flex;
                align-self: center;
            }
            .newsletter__container__form{
                width: 50%;
            }
        }
    }
}