@mixin contact {
    background: $black-color;
    border-radius: 36px;
    color: white;
    padding: 1.5em 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}